@page "/rig/details"


@if (DetailsViewModel == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<h1>Rig - @DetailsViewModel.RigDetails.Id</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var equipment in DetailsViewModel.Systems)
			{
			<tr @onclick="@(() => ViewEquipment(equipment))">
				<td>@equipment.Id</td>
				<td>@equipment.Name</td>
				<td>@equipment.Type</td>
			</tr>
			}
		</tbody>
	</table>
}

